<div id="modal-content" class="modal-dialog-centered modal-container-requer animacion fadeInUp" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h3 class="titulo">Nota #<span id="nota_pagina"></span> - &nbsp;<span id="fecha-nota"></span></h3>
			<button id="btn-close-panel1" type="button" class="close" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div id="content-robotica" class="modal-body modal-content-requer">
			<textarea id="txt-notav2" class="form-control" rows="15"></textarea>
		</div>
		<div class="modal-footer">
			<button id="btn-close-panel2" type="button" class="btn btn-primary">Cerrar</button>
            <button id="btn-guardar-nota" type="button" class="btn btn-primary">Guardar</button>
		</div>
	</div>
</div>