<div id="modal-content" class="modal-dialog-centered modal-container-requer animacion fadeInUp" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h3 id="tituloProyecto" class="titulo">Titulo</h3>
			<button id="btn-close-panel1" type="button" class="close" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div id="content-robotica" class="modal-body modal-content-requer">

		</div>
		<div class="modal-footer">
			<button id="btn-close-panel2" type="button" class="btn btn-primary">Cerrar</button>
		</div>
	</div>
</div>