<style type="text/css"></style>
<div class="parent" style="position:absolute; border: 1px solid red;">
	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="pdf12" width="909" height="1299" viewBox="0 0 909 1299" style="width:909px; height:1299px; -moz-transform:scale(1); z-index: 0; isolation: isolate;" version="1.1">
		<path id="circulo" d="M450.4,1031.7c139.3,0,252.2,-112.9,252.2,-252.2C702.6,640.2,589.7,527.3,450.4,527.3c-139.3,0,-252.2,112.9,-252.2,252.2c0,139.3,112.9,252.2,252.2,252.2Z"/>
	</svg>
	<slot name="imagen"></slot>
</div>