:host {
    display:none; 
    background-color: var(--white); 
    max-width: 100% !important; 
    padding-left: 0 !important; 
    padding-right: 0 !important; 
    border-color: #000000; 
    position: fixed; 
    bottom: 0; 
    width: 100% !important;
    animation: fadeInUp;
    animation-duration: 400ms;
  }

  .notas::placeholder {
    font-style: italic;
  }

  .text-arroba {
    font-style: italic;
  }

  #btn-publicar {
    width: 87%; 
    background-color: var(--blue); 
    border-radius: 10px; 
    margin-left: 30%
  } 

  #btn-cancelar {
    width: 92%; 
    background-color: var(--gray); 
    border-radius: 10px; 
    margin-left: 65%
  } 

  @media only screen and (min-width: 200px) {
    #btn-publicar { 
      width: 87%;
      margin-left: 20%;
    }
    #btn-cancelar { 
      width: 92%;
      margin-left: 55%;
    }

  }

  @media only screen and (min-width: 500px) {
    #btn-publicar { 
      width: 87%;
      margin-left: 10%;
    }
    #btn-cancelar { 
      width: 92%;
      margin-left: 45%;
    }
  }
  
  @-webkit-keyframes fadeInUp {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0,100%,0);
      transform: translate3d(0,100%,0)
    }

    to {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0)
    }
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0,100%,0);
      transform: translate3d(0,100%,0)
    }

    to {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0)
    }
  }

  :host(.animacion.fadeOutDown) {
      animation-name: fadeOutDown;
  }

  @keyframes fadeOutDown {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  }

  .animacion {
    animation-duration: 400ms;
    animation-name: fadeInUp;
  }
  
  /* Fade in entrance */
  .animacion.fadeInUp {
    animation-name: fadeInUp;
    animation-timing-function: ease;
  }