<!--<link rel="stylesheet" href="components/txtLbs/txtLbs.css">-->
<style type="text/css">
  .container {
    width: 1000px;
    height: 800px;
    position: absolute;
    z-index: 9999;
  }
  .logo-mundo-virtual {
    width: 100%;
    height: 100%;
  }
  .corazon-lila {
    position: absolute;
    bottom: 190px;
    left: 86px;
    width: 100px;
  }
  .engrane-amarillo {
    position: absolute;
    top: 250px;
    right: 78px;
    width: 160px;
  }
  .fantasma-blanco {
    position: absolute;
    bottom: 40px;
    left: 286px;
    width: 180px;
  }
  .fantasma-verde {
    position: absolute;
    top: 337px;
    right: -27px;
    width: 200px;
  }
  .click-roblox {
    position: absolute;
    top: 400px;
    right: -60px;
    width: 350px;
  }
</style>
   
<div class="container">
  <img class="logo-mundo-virtual"  src="assets/LinkRobloxLbs/Logo_Mundo_Virtual.svg" alt="Logo Mundo Virtual"/>
  <img class="engrane-amarillo"    src="assets/LinkRobloxLbs/engrane_amarillo.svg"   alt="engrane amarillo"/>
  <img class="fantasma-blanco"     src="assets/LinkRobloxLbs/fantasma_blanco.svg"    alt="fantasma blanco"/>
  <img class="fantasma-verde"      src="assets/LinkRobloxLbs/fantasma_verde.svg"     alt="fantasma verde"/>
  <img class="corazon-lila"        src="assets/LinkRobloxLbs/corazon_lila.svg"       alt="corazon lila"/>
  <img class="click-roblox"        src="assets/LinkRobloxLbs/click_roblox.gif"       alt="click roblox"/>
</div> 